<configuration>

    <!--  Enable logs that can be printed only once  -->
    <turboFilter class="org.evomaster.core.logging.UniqueTurboFilter" />

    <appender name="REGULAR_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>* %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>test_cases_default.txt</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log.%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <maxFileSize>1024MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CSV_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>result_${new Date().time}.csv</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>result.%d{yyyy-MM-dd}.%i.csv</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>


    <!-- Avoid annoying and pointless WARN messages from Governator -->
    <logger name="com.netflix.governator.lifecycle.ClasspathScanner" level="ERROR" />

    <root level="warn">
        <appender-ref ref="REGULAR_STDOUT" />
    </root>

    <!-- Logger used to provide expected info to the user -->
    <logger name="info_logger" level="INFO" additivity="false">
        <appender-ref ref="INFO_STDOUT" />
    </logger>

    <logger name="test_cases_default" level="info" additivity="false">
        <appender-ref ref="LOG_FILE" />
    </logger>

    <logger name="test_cases_csv" level="info" additivity="false">
        <appender-ref ref="CSV_FILE" />
    </logger>

</configuration>